*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.tdo
*.pdf
*-gray.png
*-transparent.png
*.nav
*.snm
*.pgf-plot.*
*.gnuplot
*-gnuplottex-*
beamercolorthememetropolis.sty
beamerfontthememetropolis.sty
beamerthemem.sty
*sublime*
*-all.png
*.pyc
*.py.err
latex.py
thesis.py
composite.py
obstacle.py
presentation.py
jpg
